<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @posts.each do |post| %>
    <%= image_tag post.image, class: 'post-image' %>
      <p><%= post.text %></p>
      <span class="name"><%= post.name %></span>
    </div>
  <% end %>
</div>