<div class="contents_row">
  <div class="top_post">
    <% @posts.each do |post| %>
      <div class="post_frame">
        <%= link_to image_tag(post.image, class: 'post-image'),post_path(post.id) %>
        <div class="post_nav">
          <div class="post_content">店舗名＿<%= post.text %></div>
          <div class="post_content">説明＿<%= post.name %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>