<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>
    <%= form_with(model: @post, local: true) do |f| %>
      <%= f.text_field :name, placeholder: "Nickname" %>
      <%= f.text_area :text, placeholder: "text", rows: "10" %>
      <%= f.submit "SEND" %>
    <% end %>
  </div>
</div>