h3 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new_post_form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.new_post {
  width: 50%;
  padding: 5px;
  margin: 10px;
}